conda {
    enabled = true
    useMamba = true
}

params {
    network_uuid = ''
    network_name = 'test'
    OUTDIR = "${projectDir}/results"
}

/*
* Output Settings
*/
outputDir = "results"
workflow {
    output.mode = 'copy'
}

/*
* Profiles
*/
profiles {
    standard {
        process.executor = 'local'
    }
    local_dev {
        process.executor = 'local'
        params.network_uuid = '9881c2f3-f137-11ee-9621-005056ae23aa'
        params.network_name = 'bioplex'
    }
}